@import "variables";
@import "globals";

.header {
  padding: 0 11%;
  font-family: $dm-serif;
  background-color: $very-light-grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .list {
    display: flex;

    :not(:last-child) {
      margin-right: calculate_rem(24px);
    }

    .item {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.panel {
  height: calculate_rem(420px);
  background-color: $very-dark-violet;
  padding: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .highlight {
    width: 45%;
    line-height: 1.5rem;
    font-family: $karla;
    color: $very-light-grey;

    .title {
      font-size: calculate_rem(32px);

      &.one {
        margin-bottom: calculate_rem(4px);
      }

      &.two {
        margin-bottom: calculate_rem(16px);
      }
    }

    .text {
      text-align: justify;
    }

    .border {
      width: 40%;
      height: calculate_rem(48px);
      border-top: 2px $very-light-grey solid;
    }
  }

  .imports {
    width: 35%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-content: center;

    :not(:last-child) {
      margin-bottom: calculate_rem(16px);
    }

    .btn {
      font-family: $karla;
      font-size: calculate_rem(14px);
      background-color: $very-dark-violet;
      color: $very-light-grey;
      text-transform: uppercase;
      padding: calculate_rem(12px);
      border: 2px $very-light-grey solid;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.footer {
  margin-top: calculate_rem(48px);
  width: 100%;
  padding: 0 11%;
  background-color: $very-light-grey;
  display: flex;
  flex-direction: column;

  .socials {
    font-family: $dm-serif;
    height: calculate_rem(80px);
    border-bottom: 1px $dark-grayish-violet solid;
    margin-bottom: calculate_rem(32px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
      align-items: center;

      .logo {
        width: calculate_rem(24px);
      }

      :not(:last-child) {
        margin-right: calculate_rem(16px);
      }
    }
  }

  .info {
    font-family: $karla;
    text-transform: uppercase;
    font-size: calculate_rem(14px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;

    .list {

      :not(:first-child) {
        margin-bottom: calculate_rem(6px);
      }

      .title {
        color: $dark-grayish-violet;
        font-size: inherit;
        font-weight: 700;
        margin-bottom: calculate_rem(18px);
      }

      .link {
        text-decoration: none;
        color: $very-dark-violet;
        font-weight: 700;
      }
    }
  }
}

.hide {
  display: none;
}