@import "variables";
@import "globals";

.header {
  padding: 0 11%;
  font-family: $dm-serif;
  background-color: $very-light-grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .list {
    display: flex;

    :not(:last-child) {
      margin-right: calculate_rem(24px);
    }

    .item {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

main {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 11%;
  background-color: $very-light-grey;
  display: flex;
  flex-direction: column;

  .socials {
    font-family: $dm-serif;
    display: flex;
    justify-content: space-between;

    .list {
      display: flex;

      :not(:last-child) {
        margin-right: calculate_rem(16px);
      }
    }
  }

  .info {
    font-family: $karla;
    display: flex;

    .list {
      justify-content: space-between;
    }
  }
}